.container {
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 16px 16px;
    border-radius: 12px;
    width: 500px;
    margin: 0 auto;
    background: linear-gradient(to right, rgb(95, 44, 130), rgb(73, 160, 157));
}

.scrollTrack {
    gap: 4px;
    box-sizing: border-box;
    height: 270px;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    border-radius: 12px;
}

.slide {
    width: 300px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 12px;
    background: #DD5E89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
