.container {
    width: 100vw;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    touch-action: pan-y;
    overflow-x: hidden;
}

.track {
    position: relative;
    display: flex;
    width: 1px;
    touch-action: pan-y;
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

.slide {
    flex-shrink: 0;
    position: relative;
    backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-backface-visibility: hidden;
    --webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    box-sizing: border-box;
}

.slide * {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
